DB_DRIVER={ODBC Driver 17 for SQL Server}
DB_SERVER=WIN-LORQJU2719N
DB_NAME=itic
DB_TRUSTED_CONNECTION=yes

EMAIL=nodr.jumaboyev2008@gmail.com
EMAIL_PASSWORD=nN7027630

DB_HOST=localhost
DB_PORT=5432
DB_NAME=itic_data
DB_USER=postgres
DB_PASSWORD=1

DATABASE_URL=postgresql://postgres:1@localhost:5432/itic_data

HEADLESS=false

HH_MAX_PAGES_PER_KEYWORD=10
HH_DEFAULT_WAIT=5
HH_PAGE_SLEEP=0.7
HH_VACANCY_SLEEP=0.2
CHROME_VERSION_MAIN=
HH_TABLE_NAME=public.hh

PAGE_LOAD_TIMEOUT=20
IMPLICIT_WAIT=5

CHROME_WINDOW_SIZE=1920,1080

COOKIES_PATH=cookies.json

MAX_SCROLLS=60
SCROLL_PAUSE=0.45
NO_NEW_LIMIT=3

CREATIVEPOOL_LISTING_URLS=https://creativepool.com/jobs/


HITMARKER_MAX_PAGES=200
HITMARKER_NO_NEW_STOP=3
HITMARKER_TIMEOUT=25
HITMARKER_SLEEP=0.3
HITMARKER_JOB_SLEEP=0.15

MAX_PAGES_PER_KEYWORD=20
SLEEP_BETWEEN_ACTIONS=1.0

GOOGLE_TRANSLATE_API_KEY=AIzaSyAmgtCEa1YZ5m0APnODsKYF9rQkNS9SwWY

